rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /tutoringSessions/{sessionId}/{fileName} {
      allow read: if request.auth != null &&
        firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.tutorAccess == true;
      allow write: if false;
    }
  }
}
