<footer>
    <div class="footer-container">
        <p>&copy; 2024 Spark Learning. Tous droits réservés.</p>
        <ul>
            <li><a href="/pages/about.html">À Propos</a></li>
            <li><a href="/pages/contact.html">Contact</a></li>
        </ul>
    </div>
</footer>
<style>
    footer {
        background-color: var(--gris-fonce);
        color: var(--blanc-pur);
        padding: 20px 0;
        text-align: center;
    }
    .footer-container {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
    }
    footer ul {
        list-style: none;
        padding: 0;
        margin-top: 10px;
    }
    footer ul li {
        display: inline;
        margin: 0 10px;
    }
    footer a {
        color: var(--blanc-pur);
    }
</style>
